
@font-face {
    font-family: CustomLocal;
    src: url(x:/ProggyClean/ProggyCleanNerdFont-Regular.ttf) format('truetype');
}


    body{
        /* display: flex;
        flex-direction: column; */
        background-color: #000000da;
        font-family: 'CustomLocal', ProggyCleanNerdFont-Regular;
    }

    .header{
        display: block;
        flex: content;
        border-radius: 4px;
        content-visibility: auto;
        background: rgba(234, 228, 228, 0.1);
        backdrop-filter: blur(10px);
        box-shadow: 2px 4px 4px #a3a3a3;
        color: white;
        -webkit-backdrop-filter: blur(10px);
    }

    .header h1{

        font-size: 35px;
        margin-left: 45px;
        color: rgb(254, 254, 254);
    }

    .header a{
        width: 200px;
        background-color: aliceblue;
        font-size: 35px;
        text-decoration:none;
        /* box decoration */
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        background: rgba(76, 76, 76, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 4px;
        box-shadow: 2px 4px 4px #a3a3a3;
        color: white;
        -webkit-backdrop-filter: blur(10px);
    }

    .header .login:hover{
        background-color: rgb(74, 255, 213);
        color: white;
    }

    .sidebar{
        height: 100vh;
        width: 250px;
        margin-top: 110px;
        margin-left: 8px;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: auto;
        background:  rgba(76, 76, 76, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 4px;
        box-shadow: 4px 4px 0px #a3a3a3;
        text-align: center;
        color: white;
        -webkit-backdrop-filter: blur(10px);
    }
    
    .sidebar a{
        padding: 15px;
        margin-left: 5px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        color: rgb(238, 238, 238);
        display: block;
    }
    
    .sidebar a:hover{
        
        background-color: aquamarine;
        backdrop-filter: blur(10px);
        border-radius: 4px;
        box-shadow: 2px 4px 4px #a3a3a3;
        color: black;
        -webkit-backdrop-filter: blur(10px);
    }

   
    
    .sidebar h2{
        font-size: 25px;
        color: rgb(255, 255, 255);
    }

    .tittle{
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: white;
        margin-left: 260px;
        padding-top: 15px;
    }

    .content-box{
        
        border: 4px white;
        color: aliceblue;
        margin-left: 270px;
        padding-top: 15px;
        margin-right: 2px;
        padding-top: 0px;

        background-color: rgb(52, 52, 52);
        backdrop-filter: blur(10px);
        border-radius: 4px;
        box-shadow: 2px 4px 4px #a3a3a3;
        color: white;
        -webkit-backdrop-filter: blur(10px);

    }

    .content-box:hover{
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5), 0 4px 12px rgba(255, 255, 255, 0.3);
        transform:scale(1)
    }

    .content-box h2{
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
        padding-top: 5px;
        padding-left: 5px;
    }

    .content-box p{
        font-size: 20px;
        display: grid;
        justify-content: center;
        place-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
    }
